<span class="subTitlePage">
        {{ subtitle | titlecase }}
</span>
<div>
        <input type="text" [(ngModel)]="automovilData.marca">
        <input type="text" [(ngModel)]="automovilData.modelo">
        <input type="text" [(ngModel)]="automovilData.caballosPotencia">
        <input type="text" [(ngModel)]="automovilData.cilendrada">
        <input type="text" [(ngModel)]="automovilData.matricula">
        <input type="text" [(ngModel)]="automovilData.anyoMatriculacion">
        <input type="text" [(ngModel)]="automovilData.color">
</div>