<span class="subTitlePage">
        {{ subtitle | titlecase }}
</span>
<div>
        <input type="text" [(ngModel)]="personalData.nombre">
        <input type="text" [(ngModel)]="personalData.apellidos">
        <input type="text" [(ngModel)]="personalData.documento">
        <input type="text" [(ngModel)]="personalData.telefono">
        <input type="text" [(ngModel)]="personalData.movilPhone">
        <input type="text" [(ngModel)]="personalData.eMail">
        <input type="text" [(ngModel)]="personalData.tipoVia">
        <input type="text" [(ngModel)]="personalData.nombreVia">
        <input type="text" [(ngModel)]="personalData.restoDireccion">
        <input type="text" [(ngModel)]="personalData.codPostal">
        <input type="text" [(ngModel)]="personalData.localidad">
        <input type="text" [(ngModel)]="personalData.provincia">
</div>
